body::before {
    content: "";
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../Survey-Form/Satisfyer.jpg);
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding: 20px;
    margin: auto;
    width: 60%;
    background-color: rgba(255, 255, 255, .7);
}

header {
    text-align: center;
    font-size: 1.7rem;
    font-family: Lobster, sans-serif;
}

form {
    font-family: Poppins;
}

.form-group {
    padding: 0;
    margin: 20px;
}

.questions {
    display: flex;
    margin-bottom: 10px;
    font-size: 1.5rem;
    margin-left: 10px;
}

.input-box {
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    padding: 10px;
    outline: none;
    border: 2px solid #97ccce;
}

select {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    padding: 10px;
    outline: none;
    border: 2px solid #97ccce;
}

.checkbox, .radio {
    display: flex;
    margin-right: 0.6rem;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    border: 2px solid #97ccce;
  }

.submit-div {
    text-align: center;
}

.submit-button {
    border-radius: 1rem;
    border: 2px solid #97ccce;
    background-color: #97ccce;
    font-size: 1.5rem;
    margin: auto;
    width: 20%;
    font-family: Poppins, sans-serif;
}



